html {
  min-height: 100%;
  width: 100%;
  padding: 0 10px;
  
}

a {
  text-decoration: none;
}

.main-banner {
  position: relative;
  width: 100%;
  min-height: 55vw;
  background: url('./res/Snkv2.svg') no-repeat;
  background-size: 100% auto;
}

.landing-nav {
  position: absolute;
  top: 0;
  z-index: 100;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.landing-nav li {
  list-style: none;
  display: block;
  padding: 20px;
  font-size: 1.15em;
  color: #82b9f3;
}

.landing-nav a {
  text-decoration: none;
  display: block;
  position: relative;
  padding: 8px;
  margin: 15px 15px 15px 35vw;
  color: #82b9f3;
  border: 1px solid #82b9f3;
  border-radius: 5px;
  font-size: 1.25em;
}

.landing-nav a:hover {
  color: white;
}

.news-item-ava {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
/* BLINKING FX */
